@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx"; 
@namespace components "com.adams.quiz.view.components.*";

@font-face
{
	fontFamily: Calibri;
	src: url("/assets/fonts/CALIBRI.TTF");
	embedAsCFF: false;
}  
@font-face
{
	fontFamily: CalibriMX;
	src: url("/assets/fonts/CALIBRI.TTF");
	embedAsCFF: true;
}  
s|Application{
	chrome-color:#2d3239;
	content-background-color:#313235;
	color:#bdbdbd;
	fontFamily: Calibri;
	background-color:#2d3540;
	symbol-color:#ff0000;
	focus-color:#efefef;
}   
s|LabelItemRenderer{
	color:#313235;
	fontFamily:Calibri;
	selectionColor:#ff0000;
	downColor:#ff0000;
}
s|RichEditableText{
	fontFamily:CalibriMX;
}
s|Label{
	fontFamily:CalibriMX;
}
s|Label.header{
	font-size:35;
	color:#ffffff;
	font-weight:bold;
	paddingTop:10;
	paddingLeft:10;
} 
s|TextArea.header{
	font-size:35;
	color:#ffffff;
	font-weight:bold;
	paddingTop:10;
	paddingLeft:10;
} 
s|Button{
	skinClass:ClassReference("assets.skins.MButtonSkin")
}
s|List{
	selectionColor:#000000;
} 
components|QRadioButton{
	skinClass:ClassReference("assets.skins.QRadioSkin")
}
components|QCheckBox{
	skinClass:ClassReference("assets.skins.QCheckBoxSkin")
}